$base-dark: #051f26;
$base-light: #fdaa45;

$dark: #001f0d;
$mid: #006e90;

$light-cool: #92b5f1;
$light-warm: #f67347;

$body-background: $mid;

$heading: lighten($light-cool, 5%);
$base-type: lighten($light-cool, 12%);

$banner-type: #fff;
$banner-bg: $base-dark;
$banner-border: $light-cool;
$banner-link: $base-light;
$banner-link-active: $base-light;
$rsvp-border: $light-warm;

$popup-bg: $mid;
$popup-text: $base-type;
$popup-header: #fff;

$logo: lighten($light-cool, 7%);
$logo-alt: $light-cool;

$border: transparentize($light-cool, .3);

$highlight-bg: transparentize(lighten($dark, 18%), .4);
$highlight-text: #fff;

$link: lighten($light-cool, 5%);
$link-visited: lighten($link, 3%);
$link-active: lighten($link, 10%);
$link-focus: darken($link, 5%);

// Form colours
$control-border: $border;
$control-background: lighten($light-cool, 1%);
$control-colour: darken($mid, 10%);
$placeholder-colour: $mid;
$button-border: $border;
$button-background: lighten($light-cool, 2%);
$button-colour: darken($mid, 10%);
