// bower:scss
// endbower

@import "fonts";
@import "colours";

@import "components/forms";
@import "components/header";
@import "components/map";
@import "components/nav";
@import "components/prompt";
@import "components/rsvp";
@import "components/copy_item";
@import "components/essentials";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  font-family: $font-family;
  font-weight: 400;
  background-color: $body-background;
  color: $base-type;
}
b, strong {
  font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
  color: $heading;
}
h1, h2, h3 {
  font-style: italic;
}
h1, h2 {
  font-weight: 700;
}
p {
  line-height: 1.5em;
}

a {
  &:link {
    color: $link;
  }
  &:visited {
    color: $link-visited;
  }
  &:active {
    color: $link-active;
  }
  &:hover, &:focus {
    color: $link-focus;
  }
}

.container {
  margin: 1.5em auto 0;
  font-size: 150%;
  min-width: 300px;
  max-width: 80%;
}

section {
  clear: left;
}
