// bower:scss
// endbower

@import "mq";
@import "mixins";

@import "fonts";
@import "colours";

@import "components/forms";
@import "components/banner";
@import "components/header";
@import "components/map";
@import "components/prompt";
@import "components/rsvp";
@import "components/essentials";
@import "components/schedule";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  font-family: $copy-font;
  font-weight: 400;
  background: $body-background url('/images/bg.png') 0 0 repeat;
  color: $base-type;
  padding-bottom: 2.5em;
  font-size: 120%;

  @include mq($from: tablet) {
    font-size: 125%;
  }
}
b, strong {
  font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  color: $heading;
  margin: 0 0 .75em;
}
h1, h2, h3 {
  font-style: italic;
  font-weight: 400;
}
p {
  margin-top: 0;
  line-height: 1.5em;
}
dl, ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  &:link {
    color: $link;
  }
  &:visited {
    color: $link-visited;
  }
  &:active {
    color: $link-active;
  }
  &:hover, &:focus {
    color: $link-focus;
  }
}

h1 {
  margin: 0;
}

section {
  margin: 0 auto;

  &.map, &.schedule, &.transport {
    margin-top: 2.5em;
  }
  &.tidbits, &.transport {
    article {
      margin-left: 1.25em;
      margin-right: 1.25em;

      @include mq($from: mobileLandscape) {
        margin-left: 2em;
        margin-right: 2em;
      }
    }
  }

  @include mq($until: tablet) {
    h3 {
      text-align: center;
    }
  }
  @include mq($from: tablet) {
    article { // Contains a number of items
      column-count: 2;
      column-gap: 2.5em;
    }
    p {
      text-align: justify;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
      widows: 4;
    }
  }
  @include mq($from: desktop) {
    article {
      column-gap: 4.25em;
    }
    &.tidbits, &.transport {
      article {
        margin-left: 3.5em;
        margin-right: 3.5em;
      }
    }
  }
}
