.banner {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: $banner-bg;
  height: 150px;
  border-top: 1px solid $banner-border;
  border-bottom: 1px solid $banner-border;
  margin-bottom: 2.5em;

  h2, img {
    position: absolute;
    left: 0;
    width: 100%;
  }
  h2 {
    line-height: 0;
    top: 52%;
    color: $banner-type;
    font-size: 2.75em;
    margin: 0;
    z-index: 2;
  }
  img {
    top: 0;
    height: auto;
    opacity: .65;
    transition: opacity 1s ease-in-out;
  }

  // SVG clip possibilities

  //.bg {
  //  z-index: 1;
  //  opacity: 0.15;
  //}
  //.clipped {
  //  z-index: 2;
  //  -webkit-clip-path: url(#svgTextPath);
  //  clip-path: url(#svgTextPath);
  //}
  //svg {
  //  width: 0;
  //  height: 0;
  //}
}
a.banner {
  &:link, &:visited {
    h2 {
      text-decoration: underline;
      color: $banner-link;
    }
  }
  &:active, &:hover, &:focus {
    img {
      opacity: .9;
    }
    h2 {
      color: $banner-link-active;
    }
  }
}
.map .banner {
  margin-bottom: 0;
}
.cmon-rsvp {
  display: block;
  text-align: center;
  margin-top: 1em;
  border-top: 1px solid $rsvp-border;
  border-bottom: 1px solid $rsvp-border;

  h2 {
    font-size: 3em;
  }
}
