.angular-leaflet-map, .mapItemDetail {
  height: 400px;
  float: left;
}
.angular-leaflet-map {
  width: 65%;
}
.map {
  @include clearfix;
  margin-bottom: 1.5em;
}
.mapItemDetail {
  width: 35%;
  box-sizing: border-box;
  padding: 0 .75em;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
