.cmon-rsvp {
  text-align: center;
  margin-bottom: 1em;

  a {
    display: inline-block;
    padding: .5em .75em;
    font-weight: 700;
    text-decoration: none;
    border-radius: .75em;

    &:link, &:visited {
      background: $base-dark;
      color: $base-light;
    }
    &:active, &:hover, &:focus {
      background: lighten($base-dark, 20%);
    }
  }
}
