.schedule {
  li {
    border-bottom: 1px solid lighten($base-dark, 30%);

    &:last-child {
      border-bottom: none;
    }
  }
  .important h3 {
    font-weight: 700;
  }
  @include mq($from: tablet) {
    h3, p {
      display: inline-block;
    }
    h3 {
      width: 14%;
      font-weight: normal;
    }
  }
}
