<h3>Dress</h3>
<p>
  &ldquo;Smart Casual&rdquo; will be the order of the day.
  Gentleman, think nice shirt (maybe collared) with trousers. No suits, bowties, bowler hats or walking sticks required (unless you feel the need, in which case go for it).
  Ladies, think lovely summer frocks, but keep in mind we are hoping to be on the oval, playing a dash of croquet or just mingling. So while those darling stilletoes may seem just picturesque now, they won't be when you are sinking into the grass and calling for help. A sweet parasol, hint of sunscreen and shawl may also be perfect.
</p>
