<h3>Parking</h3>
<p>Please turn left before the hall and park near the Rural Fire Service Brigade building. It’s to the left of the tennis courts. The gravel carpark outside the hall will be occupied by our caterer. If you need to you can quickly drop off your occupants outside the front of the hall, but please don’t park there. 
The hall people have asked kindly to make sure no one parks on the septic system beneath the stretch of grass to the left of the hall. We think there may have been some gnarly situations in the past.</p>
