<article class="essentials">
  <h2>Essentials</h2>
  <dl>
    <dt>Date</dt>
    <dd>21st February, 2015</dd>
    <dt>Time</dt>
    <dd>14:30</dd>
    <dt>Location</dt>
    <dd><a href="/#/map" title="View the map">Dooralong Community Hall</a></dd>
  </dl>
</article>

<article>
  <h2>Gifts</h2>
  <p>
    Your attendence is a wonderful present in itself.
    We aren't after any whitegoods or things to setup a house.
    We're trying to keep things simple.
    Any photos of us, words of advice or a story will be greatly appreciated. We'll provide a place for you to put them.
  </p>
</article>

<article>
  <h2>Dress</h2>
  <p>
    &ldquo;Smart Casual&rdquo; will be the order of the day.
    Gentleman, think nice shirt (maybe collared) with trousers. No suits, bowties, bowler hats or walking sticks required (unless you feel the need, in which case go for it).
    Ladies, think lovely summer frocks, but keep in mind we are hoping to be on the oval, playing a dash of croquet or just mingling. So while those darling stilletoes may seem just picturesque now, they won't be when you are sinking into the grass and calling for help. A sweet parasol, hint of sunscreen and shawl may also be perfect.
  </p>
</article>

<article>
  <h2>Kids</h2>
  <p>
    You are welcome to bring your children, but it would be better if you could arrange babysitting.
    Kids won't be catered for, so pack their favourite lunch for dinner (no nuts please).
    There will be alcohol, candles on tables and so on. It's not going to be an environment optimised for children, but it should be fine.
  </p>
</article>

<article>
  <h2>Contact</h2>
  <p>
    Email <a href="mailto:dylan@dylanfm.com">Dylan</a> or <a href="mailto:belyndajaeger@gmail.com">Bel</a>.
    Bel's phone number is +61 422 098 710 and Dylan's is +61 424 343 551.
  </p>
</article>

<article>
  <h2>Photos</h2>
  <p>On the day if you take any photos or video, it would be great if you could send us a copy. If Instagramming etc, use hashtag <code>#belanddylan</code>.</p>
</article>
