<header>
  <h2>Schedule</h2>
</header>

<ol>
  <li>
    <h3>12:30</h3>
    <p><b>Bus</b> pick up at Slade Park, Budgewoi</p>
  </li>
  <li>
    <h3>12:45</h3>
    <p><b>Bus</b> pick up at sports oval, Norah Head</p>
  </li>
  <li>
    <h3>13:00</h3>
    <p><b>Sydney drivers</b>, you should be getting onto the start of the M1 now (Hornsby)</p>
  </li>
  <li>
    <h3>13:30</h3>
    <p><b>Bus</b> drop off at venue, Dooralong Hall</p>
  </li>
  <li class="important">
    <h3>14:30</h3>
    <p>Ceremony begins :)</p>
  </li>
  <li>
    <h3>15:15</h3>
    <p>Ceremony finishes <3</p>
  </li>
  <li>
    <h3>15:45</h3>
    <p>Mr &amp; Mrs head off to do photos, whilst y'all enjoy yourselves</p>
  </li>
  <li>
    <h3>18:00</h3>
    <p>Dinner time!!!</p>
  </li>
  <li>
    <h3>19:30</h3>
    <p>Cut that cake, let me eat it and speeches</p>
  </li>
  <li>
    <h3>20:00</h3>
    <p>Sunset photo funtimes</p>
  </li>
  <li>
    <h3>21:30</h3>
    <p>Dancing in the hall or outside under the stars</p>
  </li>
  <li>
    <h3>23:00</h3>
    <p><b>Bus</b> pick up at Dooralong Hall. Thankyou everyone for a lovely time :)</p>
  </li>
</ol>
