<article>
  <h2>Basic info</h2>
  <p>Dooralong Hall is in a fairly remote rural location. You are not going to find any 7-11s, Maccas, street lights or lines on the road. In fact, once you make the turn at the cemetery you are looking at 10k’s of winding country road (which is sealed, so fear not for your car). Think cows, fields, lots of trees and the occasional smudge of human existence in the form of a house or two.</p>
</article>

<article>
  <h2>Taxis</h2>
  <p>It is the Central Coast people; which means taxis are not really an option. Of the one company we did manage to get a quote from they mentioned a sum of $100 (one way). So they are going to be expensive and we are hazy on their reliability.</p>
</article>

<article>
  <h2>Trains</h2>
  <p>We are investigating the option of adding a train station to the bus route. It would mean potentially catching a train to Wyong station from where we would collect you. However, the train times aren’t very convenient (so it could potentially mean a little waiting around and leaving the wedding a little early).
  If you are considering this option, we ask for you to talk to us ASAP (as we will need to work with you to come up with a solution).</p>
</article>

<article>
  <h2>Bus</h2>
  <p>Alcohol, rural roads and sleepiness after a big day of wedding fun aren’t the best mix for driving home. We want all of our loved ones (this means you) to have a fun time and not have to stress about transport. So we are organising a bus that will pick-up and drop-off people at a few Central Coast locations. Check out the map and schedule for more details, and please let us know when you RSVP or contact us when plans change.</p>
</article>

<article>
  <h2>Driving</h2>
  <p>We have mapped out a rough guide for driving on the map. Once you take the exit off the M1 you are looking at about a 30 minute drive to the hall. 
  Keep in mind that it is quite a way along Jilliby Road, so once you turn at the cemetery settle yourself in for a bit more of a drive on that road. You’ll see the hall on the lefthand side alongside some tennis courts.</p>
</article>

<article>
  <h2>Parking</h2>
  <p>Please turn left before the hall and park near the Rural Fire Service Brigade building. It’s to the left of the tennis courts. The gravelled carpark outside the hall will be occupied by our caterer. If you need to you can quickly drop off your occupants out the very front of the hall, but please don’t park there. 
  There is a stretch of grass to the left of the hall (just in front of the tennis court, next to the road). The hall people have asked kindly to make sure no one parks there. The sceptic system is beneath and I think there may have been some gnarly situations in the past.</p>
</article>
