<header ng-include="'/views/partials/header.html'"></header>

<a href="/#/rsvp" title="RSVP" class="cmon-rsvp">RSVP</a>

<section>
  <article class="essentials" ng-include="'/views/partials/essentials.html'"></article>

  <article copy-item="dress"></article>
  <article copy-item="gifts"></article>
</section>

<section class="map" ng-include="'/views/partials/map.html'"></section>

<section class="schedule" ng-include="'/views/partials/schedule.html'"></section>

<section class="transport" ng-include="'/views/partials/transport.html'"></section>
