<header ng-include="'/views/partials/header.html'"></header>

<a href="/#/rsvp" title="RSVP" class="cmon-rsvp">RSVP</a>

<section>
  <article ng-include="'/views/partials/essentials.html'"></article>

  <article copy-item="dress"></article>
  <article copy-item="gifts"></article>
</section>

<section class="transport">
  <header>
    <h2>Transport</h2>
  </header>

  <article copy-item="transport"></article>
  <article copy-item="bus"></article>
  <article copy-item="driving"></article>
  <article copy-item="parking"></article>
  <article copy-item="taxis"></article>
  <article copy-item="trains"></article>
</section>
