<div class="selectedItem" ng-if="selected" class="type-{{selected.properties.type}}">
  <h3>{{selected.properties.type | itemType}}</h3>
  <h2>{{selected.properties.name}}</h2>

  <ul>
    <li ng-if="selected.properties.url">
      <a href="{{selected.properties.url}}" title="Visit the website">Visit website</a>
    </li>
    <li ng-if="selected.properties.bus">
      <maki-icon type="bus">
        Bus stops here
      </maki-icon>
    </li>
    <li ng-if="selected.properties.train">
      <maki-icon type="rail">
        Train stops here
      </maki-icon>
    </li>
    <li ng-if="selected.properties.driving_poi">
      <maki-icon type="car">
        Important for drivers
      </maki-icon>
    </li>
    <li ng-if="selected.properties.type === 'accom'">
      <span ng-if="selected.properties.farm_stay">
        <maki-icon type="farm">
          Farm stay
        </maki-icon>
      </span>
      <span ng-if="selected.properties.caravan_park">
        <maki-icon type="playground">
          Caravan park
        </maki-icon>
      </span>
      <span ng-if="selected.properties.motel">
        <maki-icon type="commercial">
          Motel
        </maki-icon>
      </span>
      <span ng-if="selected.properties.resort">
        <maki-icon type="swimming">
          Resort
        </maki-icon>
      </span>
      <span ng-if="selected.properties.something_else">
        <maki-icon type="lodging">
          Something else
        </maki-icon>
      </span>
    </li>
  </ul>
</div>
