<header class="global" ng-include="'/views/partials/header.html'"></header>

<section class="rsvp">
  <header class="banner">
    <h2>RSVP</h2>
    <img src="/images/photos/neue.jpg" />
  </header>

  <ol>
    <li id="step-start">
      <p>First of all, what's your name(s)?</p>
      <input type="text" ng-model="name" enter-submit="setStep('rsvp')" placeholder="Your name" required />
      <button ng-show="step === 'start' && name.length" ng-click="setStep('rsvp')">That's me!</button>
    </li>
    <li ng-show="step != 'start'" id="step-rsvp" class="attending-{{details.attending}}">
      <p>Hey! So, think you can make it on the big day?</p>
      <button class="yay" ng-click="setStep('yay')">Sure can!</button>
      <button class="nay" ng-click="setStep('nay')">No :(</button>
    </li>
    <li ng-show="step == 'nay'" id="step-nay">
      <p>Oh no! We would've loved to have seen you there.</p>
    </li>
    <li ng-show="step == 'yay' || step == 'done'" id="step-yay">
      <p>Awesome!! Now, can we have your email and phone number in case we need to contact you in the lead up?</p>
      <input type="email" ng-model="email" enter-submit="setStep('done')" placeholder="Your email" />
      <input type="tel" ng-model="phone" enter-submit="setStep('done')" placeholder="Your phone number" />
      <textarea ng-model="extra" placeholder="e.g dietary requirements&hellip; number of people&hellip; accommodation plans&hellip; drinking preference(s)&hellip; think you'll need the bus?" rows="4"></textarea>
      <button ng-show="email.length || phone.length" ng-click="setStep('done')">There you go</button>
    </li>
    <li ng-show="step == 'done'" id="step-done">
      <h2>Thanks!</h2>
      <a href="/#/guests" title="Back to the main guests back">Back</a>
    </li>
  </ol>
</section>
